<div class="container">
    <div class="card mt-3">
        <div class="row m-3">
            <div class="col-md-12">
                <h2 class="text-center">
                    Book An Appointment
                </h2>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-md-6">
                <input class="form-control mt-3" [(ngModel)]="newAppointmentTitle" placeholder="Appointment Description">
            </div>
            <div class="col-md-4">
                <input class="form-control mt-3" [(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment Date">
            </div>
            <div class="col-md-2 text-center"><button class="btn btn-primary m-3" (click)="addAppointment()">Add</button></div>
        </div>
    </div>
    <h2 class="text-center mt-5">Appointments</h2>
    <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let appointment of appointments;index as i">
            {{appointment.title}} {{appointment.date | date:'dd.MM.yyy'}}
            <button class="btn btn-danger" (click)="deleteAppointment(i)">Delete</button>
        </li>
    </ul>
</div>

